body {
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    margin-bottom: 10px;
    height: 700px;
}

header img,
header h1 {
position: absolute;
}

header img {
    z-index: 1;
    height: 100%;
    width: 100%;
}

header h1 {
z-index: 2;
left: 25%; 
width: 50%;
margin: 100px auto;
background-color: hotpink;
text-align: center;
padding: 5px;
font-size: 42px;
font-family: "Praise";
color: white; 
}

nav {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
background-color:cornsilk;
z-index: 3;
padding: 15px;
text-align: center;
font-family: 'Franklin Gothic Medium';
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    color: crimson;
}

.purpose {
    margin: 40px auto;
    width: 65%;
}

.purpose h2 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}

 .purpose p {
    font-family: 'Franklin Gothic Medium';
    margin-top: 10px;
    font-size: 20px;
 }

 footer {
    background-color: rgb(37, 37, 192);
    padding: 60px;
    text-align: center;
    color: blanchedalmond;
 }

 .back-to-top {
    background-color: darksalmon;
    width: 100px;
    margin: 0px auto;
    padding: 12px;
    font-family: Arial ;
 }

 .back-to-top a {
    color: crimson;
    text-decoration: none;
 }

 footer p {
    font-family:Arial ;
    font-size:small;
    margin-top: 20px;
 }

 .blog-cards .blog-cards-article article img {
    width: 100%;
    height: 65%;
 }

 .blog-cards-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
 }

 .blog-cards-article article {
    flex: 0 0 350px;
    font-family: "Arial"; 
    box-shadow: 4px 4px 20px rgb(230, 75, 126);
    height: 525px;
 }

.blog-cards h2 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-size: 30px;
    margin-bottom: 0px; 
}

.blog-cards-article h3, 
.blog-cards-article p {
    padding-left: 10px;
    padding-right: 10px;
}

footer .icon i {
    font-size: 22px;
    margin-top: 20px;
}